*{
background-color: brown;
}
.child1{
    margin-top: 200px;
    display: flex;
    text-align: center;
    justify-content: center;
}
.child{
    display: flex;
    text-align: center;
    justify-content: center;
}
.child2{
    width: 50%;
    height: 50px;
    text-align: center;
    justify-content: center;
    position: relative;
    margin-left: 350px;
    
}
.child5{
    margin-top: 200px;
    display: flex;
    text-align: center;
    justify-content: center;
}
.child3{
    display: flex;
    text-align: center;
    justify-content: center;
}
.child4{
    width: 50%;
    height: 50px;
    text-align: center;
    justify-content: center;
    position: relative;
    margin-left: 350px;
    
}